{{template "header.html" .}}

<div id="wiki_title">{{.pageTitle}}</div>

<div id="index">

	{{range $k, $v := .categoryList}}
	{{$postList := GetPostListByCategory $v.Name 1 10}}
	<h2 id="intro"><a href="{{$v.Permalink}}" style="font-size:12px;float:right;line-height:20px">更多</a> {{$v.Name}}</h2>
	<ul>
		{{range $kk, $p := $postList}}
		<li class="pagelist">
			<a href="{{$p.Permalink}}">{{$p.Title}}</a> <span class="datetime">{{Date $p.PostTime "Y-m-d"}}</span>
		</li>
		{{end}}
	</ul>
	<div class="clearfix"></div>

	{{end}}

	<h2 id="intro">项目</h2>
	<ul>
		<li class="pagelist"><a href="https://github.com/lisijie/goblog" title="基于go语言和beego框架的简易blog系统">GoBlog</a></li>
		<li class="pagelist"><a href="https://github.com/lisijie/mdwiki" title="一个简单极速的wiki引擎">mdwiki</a></li>
		<li class="pagelist"><a href="https://github.com/lisijie/php-framework" title="我的php开发框架">php-framework</a></li>
		<li class="pagelist"><a href="https://github.com/lisijie/lampnotes-src" title="lampnotes.com网站源码">lampnotes.com source</a></li>
		<li class="pagelist"><a href="https://github.com/lisijie/dnsagent" title="dnsagent">dnsagent</a></li>
		<li class="pagelist"><a href="https://github.com/lisijie/webcron" title="一个定时任务管理器，基于Go语言和beego框架开发">webcron</a>
	</ul>
	<div class="clearfix"></div>

	<h2 id="intro">链接</h2>
	<ul>
		<li class="pagelist"><a href="http://lampnotes.com" target="_blank" title="Web开发技术分享平台">lampnotes.com</a></li>
		<li class="pagelist"><a href="http://www.jimpong.com" target="_blank" title="彭劲">jimpong.com</a></li>
		<li class="pagelist"><a href="http://www.lianglong.org" target="_blank" title="梁龙">lianglong.org</a></li>
	</ul>
	<div class="clearfix"></div>


</div>

{{template "footer.html" .}}