{{template "header.html" .}}

<div id="wiki_title">{{.pageTitle}}</div>

<div id="index">

	{{range $k, $v := .categoryList}}
	{{$postList := GetPostListByCategory $v.Name 1 10}}
	<h2 id="intro"><a href="{{$v.Permalink}}" style="font-size:12px;float:right;line-height:20px">更多</a> {{$v.Name}}</h2>
	<ul>
		{{range $kk, $p := $postList}}
		<li class="pagelist">
			<a href="{{$p.Permalink}}">{{$p.Title}}</a> <span class="datetime">{{Date $p.PostTime "Y-m-d"}}</span>
		</li>
		{{end}}
	</ul>
	<div class="clearfix"></div>

	{{end}}

	<h2 id="intro">个人项目</h2>
	<ul>
		<li class="pagelist">
			<a href="https://github.com/lisijie/php-framework" title="一个优雅、简洁、高效的PHP框架"><strong>php-framework</strong></a>
			<p class="small">一个优雅、简洁、高效的PHP框架，用于快速开发各种类型的PHP项目，零学习成本。</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/webcron" title="一个定时任务管理器，基于Go语言和beego框架开发"><strong>webcron</strong></a>
			<p class="small">一个定时任务管理器，基于Go语言和beego框架开发。用于统一管理项目中的定时任务，提供可视化配置界面、执行日志记录、邮件通知等功能，无需依赖*unix下的crontab服务。</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/gopub" title="使用Go语言开发的版本发布系统"><strong>gopub</strong></a>
			<p class="small">基于Git的代码发布系统，用于发布PHP等脚本语言开发的项目。使用Go语言和Beego框架开发。</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/boot-service" title="整合spring boot+thrift+mybatis的Java服务框架"><strong>boot-service</strong></a>
			<p class="small">整合spring boot+thrift+mybatis的Java服务框架。</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/goblog" title="基于go语言和beego框架的简易blog系统"><strong>goblog</strong></a>
			<p class="small">基于go语言和beego框架的简易blog系统</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/mdwiki" title="一个简单极速的wiki引擎"><strong>mdwiki</strong></a>
			<p class="small">一个Go语言开发的wiki引擎，可用于构建wiki系统或个人博客。</p>
		</li>
		<li class="pagelist">
			<a href="https://github.com/lisijie/dnsagent" title="dnsagent"><strong>dnsagent</strong></a>
			<p class="small">简单的DNS代理，用来做内网DNS解析。本程序只实现了功能所需的DNS报文解析/打包。</p>
		</li>
		
	</ul>
	<div class="clearfix"></div>

	<h2 id="intro">链接</h2>
	<ul>
		<li class="pagelist"><a href="http://lampnotes.com" target="_blank" title="Web开发技术分享平台">lampnotes.com</a></li>
		<li class="pagelist"><a href="http://www.jimpong.com" target="_blank" title="彭劲">jimpong.com</a></li>
		<li class="pagelist"><a href="http://www.lianglong.org" target="_blank" title="梁龙">lianglong.org</a></li>
	</ul>
	<div class="clearfix"></div>


</div>

{{template "footer.html" .}}